# OS files
.DS_Store

# R and RStudio files
*.Rproj
.Rproj.user
*.RDS
*.xml
*.zip

*.png
*.xlsx
*.csv

*.log
*.basex
.RData
*_cache/*
*.Rhistory
*.basex
*.7z

Feb24_set2of5/*.csv
Feb24_set3of5/*.csv
Feb24_set4of5/*.csv
Feb24_set5of5/*.csvFeb24_set5of5/*.csv

*.png
